.card-list {
    md-card md-card-title {
        padding: 16px;
        &.has-milestone {
            border-left: 2px solid rgb(16, 108, 200);
        }
    }
    md-card-title-text {
        overflow: hidden;
        width: 0;
    }
    md-card md-card-content p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}